@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Milchella";
  src: url("./assets/Milchella-Regular.ttf");
}

body {
  /* background: linear-gradient(217deg, #ffd5c8, #f4dbe4, #f0d4ff,#fe98b5, #f4dbe4); */
  background: #f6e3ff;
  background: radial-gradient(circle, #f09eff 0%, #f6e3ff00 50%);
  background-color: #f6e3ff;
  background-repeat: no-repeat;
  background-size: 300% 300%;
  animation: gradient 60s ease infinite;
  background-attachment: fixed;
  color: black;
  text-shadow: none;
  padding: 15px 30px 30px;
}

@keyframes gradient {
	0% {
		background-position: top right;
	}
  15% {
    background-position: center center;
  }
	25% {
		background-position: bottom left;
	}
	50% {
		background-position: top left;
	}
	60% {
		background-position: center;
	}
	70% {
		background-position: bottom right;
	}
	100% {
		background-position: top right;
	}
}


.displayfont {
  font-family: 'Milchella';
}