body {
  background: linear-gradient(217deg, rgba(255,0,0,.5), rgba(255,0,0,0) 70.71%),
              linear-gradient(127deg, rgba(0,255,0,.5), rgba(0,255,0,0) 70.71%),
              linear-gradient(336deg, rgba(0,0,255,.5), rgba(0,0,255,0) 70.71%);
  background-repeat: no-repeat;
  background-color: white;
  height: 100vh;
  color: white;
  background-attachment: fixed;
}

img.deck {
  transition: all ease 350ms;
  z-index: 999;
}

img.deck:hover {
  transform: rotate(-0.5deg) translate(0px, 1px);
  box-shadow: 2px 4px 12px #333333;
}

.readcard {
  transition: all ease 350ms;
}

.readcard:hover {
  transform: rotate(1deg) translate(0px, -1px);
  box-shadow: 2px 4px 12px #333333;
}

.col-5:nth-of-type(2) {
  animation: 700ms move ease forwards;
}
.col-5:nth-of-type(3) {
  animation: 800ms move ease forwards;
}
.col-5:nth-of-type(4) {
  animation: 900ms move ease forwards;
}

@keyframes move {
  from {transform: translateX(-100%);}
  to {transform: translateX(0%);}
}
